<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <ponyu>
                <active>0</active>
                <instant_mode>0</instant_mode>
                <max_next_days>1</max_next_days>
                <default_price>10.00</default_price>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <next_available_slot>0</next_available_slot>
                <prices>
                    <item1>
                        <method_code>INSTANT</method_code>
                        <price>20</price>
                    </item1>
                    <item2>
                        <method_code>STANDARD</method_code>
                        <price>10</price>
                    </item2>
                    <item3>
                        <method_code>PREMIUM</method_code>
                        <price>30</price>
                    </item3>
                    <item4>
                        <method_code>NEXT</method_code>
                        <price>40</price>
                    </item4>
                </prices>
                <model>Emergento\PonyUShippingMethod\Model\Carrier\PonyU</model>
            </ponyu>
        </carriers>
    </default>
</config>
